<div class="row justify-content-center">
    <div class="col-6 search-wrapper">
        <h1 class="text-center mb-3">WEBTEL</h1>
        <%= search_form_for(@q, class: "d-flex") do |f| %>
            <%= f.grouping_fields(f.object.new_grouping) do |g| %>
                <%= f.condition_fields(g.object.new_condition) do |c| %>
                    <div class="col">
                    <%= c.attribute_fields do |a| %>
                        <%= a.attribute_select({associations: [:department, :branch], selected: (params[:q].nil? ? "name" : params[:q][:c]["0"][:a]["0"][:name])}, {class: "form-select me-2"}) %>
                    <% end %>
                    </div>
                    <div class="col">
                    <%= c.predicate_select({only: %i(cont)} , {class: "form-select me-2"})  %>
                    </div>
                    <div class="col-5">
                    <%= c.value_fields do |v| %>
                        <%= v.text_field :value, value: (params[:q].nil? ? "" : params[:q][:c]["0"][:v]["0"][:value]), placeholder: "Type Here to Search", 
                        class: "form-control ms-2" %>
                    <% end %>
                    </div>
                <% end %>
            <% end %>
            <%= f.submit "Search", class: "btn btn-secondary" %>
        <% end %>
    </div>
</div>