<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
     <span class="fs-4" style="margin-left: 100px;"><%= image_tag("royalcorp.png", width: '50px') %></span>
  </a>
  <ul class="navbar-nav ml-auto" style="margin-right: 100px;">
    <% if current_user %>
      <li class="nav-item nav-link"><%= link_to "Departments", departments_path, class: "nav-link" %></li>
      <li class="<%= is_active?(employees_path) %> nav-item nav-link"><%= link_to "Extentions", employees_path, class: "nav-link" %></li>
      <li class="nav-item nav-link"><%= link_to "Logout", destroy_user_session_path, class: "nav-link" %></li>
    <% else %>
      <li class="nav-item nav-link"><a href="/users/sign_in" class="nav-link">Login</a></li>
      <li class="nav-item nav-link"><a href="https://miro.com/app/board/uXjVPs6oY9A=/?moveToViewport=-1116,-489,2105,972&embedId=216846604261"
        target="_blank" class="nav-link">Help</a></li>
    <% end %>
  </ul>
</nav>