<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><%= image_tag("royalcorp.png", width: '50px') %></span>
      </a>

      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item nav-link"><%= link_to "Departments", departments_path, class: "nav-link" %></li>
          <li class="<%= is_active?(employees_path) %> nav-item nav-link"><%= link_to "Extentions", employees_path, class: "nav-link" %></li>
          <li class="nav-item nav-link"><%= link_to "Logout", destroy_user_session_path, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item nav-link"><a href="/users/sign_in" class="nav-link">Login</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="b-example-divider"></div>